body {
    margin: 0;
}

.time {
    color: darkcyan;
    margin-top: 15px;
    font-size: x-large
}

#highscore {
    text-decoration: none;
    color: darkcyan;
    padding: 10px;
    font-size: xx-large;
}

body section nav {
    background-color: paleturquoise;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: solid blueviolet 1px;
}

#qCard {
    word-spacing: 2px;
    color: green;
    text-align: center;
    background-color: greenyellow;
    padding:10px;
    padding-bottom: 658px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color:blueviolet;
    border-radius: 12%;
    color: yellow;
    border: none;
    font-size: 20px;
}